@import "@/assets/css/_variables.scss";

.estetify-logo {
  height: 40px;
  color: black;
  &.is-white{
    color: white
  }
  &.is-primary{
    color: $primary;
  }
  &.is-link{
    color: $link;
  }
}