@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');


$purple: #7957d5;
$green: #41b983;


// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $green;
$link: $purple; 


$md-sidebar-width: 14rem;


// Update some of Bulma's component variables

@import "~bulma/sass/utilities/_all.sass";
