@import "./_variables.scss";

@import "~bulma";
@import "~buefy/src/scss/buefy";


html{
  background: $white-ter;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.is-vertical-align-middle{
  vertical-align: middle !important;
}
