.page{
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .page-body{
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
  }
  .page-foot{
    flex-grow: 0;
    flex-shrink: 0;
  }

  &.is-fullheight{
    min-height: 100vh;
    .page-body{
      align-items: center;
      display: flex;
    }    
  }
}