@import "@/assets/css/_variables";

.main_container{
  overflow-x: hidden;
  @include from($tablet) {
    display: flex;
    flex-direction: column;  
  }
}
.main{
  @include from($tablet) {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

.head{
  
  @include from($tablet) {
    display: flex;
    flex-shrink: 0;
  }

  .logo{
    background-color: $primary;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    @include from($tablet) {
      
      width: $md-sidebar-width;
      flex-shrink: 0;
      justify-content: center;
    }
  }
  .hamburger-menu{
    @include from($tablet) {
      display: none;
    }
  }
  .navbar{   
    box-sizing: border-box; 
    border: 0 solid #e2e8f0;
    background: $white;    
    border-bottom-width: 1px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: .875rem;
    line-height: 1.25rem;
    
    width: 100%;
    padding: 1rem;
    
    @include from($tablet) {
      padding-top: 0;
      padding-bottom: 0;
      
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  .sidebar-mob{
    visibility: hidden;
    position: absolute;
    top: 84px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgb(0, 0, 0, 0);
    display: flex;
    justify-content: flex-end;
    
    transition: background 500ms;

    .menu-panel{
      background: white;  
      max-width: 100%;
      padding: 2rem;
      padding-right: 3rem;
      transition: all 300ms 200ms;      
      transform: translate(100%, 0);
    }

    &.is-active{
      visibility: visible;
      background: rgb(0, 0, 0, 0.6);
      .menu-panel{
        transform: translate(0, 0);
      }
    }
  }
}
.body{
  @include from($tablet) {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
  }
  .sidebar{
    background: $white-bis;
    display: none;
    
    flex-shrink: 0;
    overflow-y: auto;
    padding: 2rem;
    width: $md-sidebar-width;
    @include from($tablet){
      display: block;
    }
  }
  .content{
    @include overflow-touch();
    background: $white-ter;
    
    padding-left: 1rem;
    padding-right: 1rem;    
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    @include from($tablet){
      flex: 1 1 0%;    
      overflow-y: auto;  
      padding: 3rem;
    }
  }

}