@import "@/assets/css/_variables.scss";

.meet-day{

}
.meet-slot{
  margin-bottom: 5px;
}
.meet-slot-available{
  background-color: $primary;
  border-color: transparent;
  color: $white;

}
.meet-slot-blocked{
  color: #98a1ab;
  cursor: default;
  pointer-events: none;
  text-decoration: line-through;
}